In [10]:
import pandas as pd
import numpy as np

In [11]:
df1 = pd.DataFrame({'A': [1,3,5], 'B': [99,99,6]})
df1 = df1.set_index(['A'])
df1

    B
A
1  99
3  99
5   6

In [12]:
df2 = pd.DataFrame({'A': [3, 5, 7], 'B': [4,6,7]})
df2 = df2.set_index(['A'])
df2

   B
A
3  4
5  6
7  7

In [16]:
a = df1.reset_index()
b = df2.reset_index()

In [18]:
pd.merge(a,b, on=['A'])

   A  B_x  B_y
0  3   99    4
1  5    6    6

In [14]:
df2

   B
A
3  4
5  6
7  7

In [8]:
df1.update(df2[['B']])
df1

    B
A
1  99
3   4
5   6

In [9]:
df1

    B
A
1  99
3   4
5   6